{% extends 'base.html.twig' %}

{% block title %}
  Qui sommes nous?
{% endblock %}

{% block body %}
<main>
  <section>
    <h1 class="mt-3 mb-2">Vélocity</h1>
    <p>
      Bienvenue sur notre site spécialisé dans la vente de vélos électriques pour hommes et femmes depuis 2018. Nous sommes une entreprise passionnée par le vélo et soucieuse de l'environnement. Nous croyons fermement que les vélos électriques peuvent aider à réduire notre empreinte carbone tout en offrant une option de transport amusante et pratique.
    </p>
    <p>
      Nous avons une grande variété de vélos électriques à choisir, chacun avec ses propres spécificités et couleurs. Tous nos vélos sont fabriqués en France. Que vous cherchiez un vélo électrique pour vos déplacements quotidiens ou pour vos aventures en plein air, nous avons le modèle qui conviendra le mieux à vos besoins.
    
      Notre processus d'achat est simple et pratique. Vous avez la possibilité de commander votre vélo électrique en ligne et de choisir de le récupérer sur place pour être sûr qu'il est disponible. Toutefois, si vous préférez voir et essayer les vélos avant de faire votre achat, nous vous encourageons à venir sur place et à visiter notre magasin, nous serons ravis de vous accueillir. Notre équipe spécialisée de vélos sera là pour vous guider et vous aider à trouver le vélo parfait pour vous.
    </p>
  </section>
  <section>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 text-center">
          <img src="{{ asset('images/velos/forest.jpg') }}" class="img-fluid rounded-5 aos-init" alt="Un paysage de nature avec des cyclistes en mouvement." data-aos="fade-down" data-aos-duration="9000">
        </div>
      </div>
    </div>
  </section>
  <h2>Un moyen de transport écologique, mais pas que...</h2>
  <p>
   Le vélo est devenu une solution de transport incontournable à l'échelle mondiale. Il séduit tant pour les trajets quotidiens que pour les loisirs et les activités sportives, gagnant en popularité de jour en jour. En contraste avec les véhicules motorisés, le vélo ne produit aucune émission nocive pour l'environnement. Fonctionnant à l'énergie humaine, il contribue à économiser de l'énergie et à réduire notre dépendance aux sources non-renouvelables.
  </p>
  <p>
   Cette activité physique est une véritable aubaine pour la santé. Selon une étude de l'Université de Glasgow, une pratique régulière de vélo peut réduire les risques cardiovasculaires de 46%. Son accessibilité transcende les barrières liées à l'âge ou à la condition physique, permettant à chacun de profiter de ses bienfaits. Il a également le pouvoir de réduire le stress, d'améliorer la qualité du sommeil et de contribuer à la réduction de la pollution atmosphérique.
   Le vélo devient ainsi un véritable allié pour la santé physique et mentale. Il renforce le système cardiovasculaire, apaise les tensions mentales et favorise un bien-être global. C'est l'outil parfait pour rester actif et en forme. N'hésitez pas à découvrir par vous-même les nombreux avantages qu'il offre en l'essayant dès maintenant !
  </p>
</main>
{% endblock %}

{% block javascripts %}
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init({
    duration: 1000, // Default duration for other animations
  });
</script>
{% endblock %}
