{% extends 'base.html.twig' %}

{% block title %}Qui sommes nous?{% endblock %}

{% block body %}
     <main>
        <section>
          <h1 class="mt-4 mb-4">Qui sommes nous?</h1>
          <hr>
          <p>Bienvenue sur notre site spécialisé dans la vente de vélos électriques pour hommes et femmes depuis 2018. Nous sommes une entreprise passionnée par le vélo et soucieuse de l'environnement. Nous croyons fermement que les vélos électriques peuvent aider à réduire notre empreinte carbone tout en offrant une option de transport amusante et pratique.<br>
          Nous avons une grande variété de vélos électriques à choisir, chacun avec ses propres spécificités et couleurs. tous nos vélos sont fabriqués en France. Que vous cherchiez un vélo électrique pour vos déplacements quotidiens ou pour vos aventures en plein air, nous avons le modèle qui conviendra le mieux à vos besoins.<br>
          Notre processus d'achat est simple et pratique. Vous avez la possibilité de commander votre vélo électrique en ligne et de choisir de le récupérer sur place pour être sûr qu'il est disponible. Toutefois, si vous préférez voir et essayer les vélos avant de faire votre achat, nous vous encourageons à venir sur place et à visiter notre magasin, nous serons ravi de vous accueillir. Notre équipe spécialisée de vélos sera là pour vous guider et vous aider à trouver le vélo parfait pour vous. 
          </p>
        {# </section>
        <div class="container-fluid">
          <div class="row">
            <img src="{{asset ('images/velos/forest.jpg')}}" class="col-10 m-auto d-none d-lg-block rounded-5" alt="Un paysage de nature avec des cyclistes en mouvement.">
          </div>
        </div>
        <section> #}
        <section>
  <div class="container-fluid">
    <div class="row">
      <img src="{{ asset('images/velos/forest.jpg') }}" class="col-10 m-auto d-none d-lg-block rounded-5 aos-init" alt="Un paysage de nature avec des cyclistes en mouvement." data-aos="fade-down" data-aos-duration="9000">
    </div>
  </div>
</section>
          <hr>
          <h2 class="fw-bold">Un moyen de transport écologique, mais pas que...</h2>
          <hr>
          <p>Le vélo est l'un des moyens de transport les plus populaires dans le monde entier. Que ce soit pour le travail, les loisirs ou le sport, de plus en plus de personnes choisissent de pédaler.
          Contrairement aux voitures ou aux motos, les vélos ne produisent pas d'émissions nocives pour l'environnement.<br>
          En pédalant, l'utilisateur ne génère pas de CO2 ou de polluants atmosphériques. Le vélo est un moyen de transport qui utilise l'énergie humaine. Cela permet d'économiser de l'énergie et de réduire la dépendance aux énergies non-renouvelables.
          Le vélo est une excellente activité physique qui permet de brûler des calories, de renforcer le système cardiovasculaire et de développer la force musculaire. Selon une étude de l'Université de Glasgow, pédaler régulièrement peut réduire le risque de maladies cardiovasculaires de 46%. De plus, le vélo est une activité à faible impact qui peut être pratiquée par presque tout le monde, quel que soit son âge ou sa condition physique.
          En outre, l'utilisation du vélo comme moyen de transport peut contribuer à réduire le stress. Une étude de l'Université de Stanford, les personnes qui se déplacent à vélosont moins stressées que celles qui utilisent une voiture. Cela est dû en partie au fait que le vélo permet de passer du temps à l'extérieur, ce qui peut aider à réduire les niveaux de cortisol, une hormone liée au stress.
          Le vélo peut également améliorer la qualité du sommeil. Les personnes qui ont pédalé pendant au moins 30 minutes par jour ont rapporté une amélioration significative de la qualité de leur sommeil. De plus, le vélo est un moyen de transport non polluant qui peut contribuer à réduire la pollution de l'air, ce qui peut avoir un impact positif sur la qualité du sommeil.
          En conclusion, le vélo peut offrir de nombreux avantages pour la santé, notamment en renforçant le système cardiovasculaire, en réduisant le stress, en améliorant la qualité du sommeil et en offrant des avantages psychologiques. En outre, le vélo est une activité physique à faible impact qui peut être pratiquée par presque tout le monde, ce qui en fait un moyen idéal pour rester actif et en bonne santé. Si vous n'avez pas encore essayé le vélo, il est temps de le faire et de profiter de ses nombreux bienfaits pour la santé.
        </p>
       </section>
     </main>
{% endblock %}
{% block javascripts %}
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init({
    duration: 1000, // Default duration for other animations
  });
</script>
{% endblock %}
