{# note: the code below will show in the mailcatcher, it is basically the design of how we want our email to look like once sent, look at the mail catcher in the localhost:1080 once we activate the maildev in the terminal and we try to send email. #}
<h3>mail reçu</h3>


<p>
Sujet : {{ contact.sujet }}
<br>
Sender : {{ contact.email }}
<br>
le message: {{contact.message}}
</p>
