{% extends 'base.html.twig' %}

{% block title %}Paiement Echec !{% endblock %}

{% block body %}
<div class="container">

    <h1>Erreur : la paiement a été annulé</h1>
    <p>
        Malheureusement l'achat n'a pas aboutie :<br>
        Mais votre panier est toujours disponible <br>
        Contactez nous par mail : <a href="mailto:orders@example.com">failures@example.com</a>.<br>
        Ou bien continuez vers <a href="{{ path('page_panier') }}">votre panier</a>

    </p>

</div>
{% endblock %}