{% extends 'base.html.twig' %}

{% block title %}Paiement Success!{% endblock %}

{% block body %}

<div class="container">

    <h1>Merci de votre achat !</h1>
    <p>
        Nous apprécions faire affaire avec vous.<br>
        Si vous avez la moindre question, n'hésitez pas a revenir vers nous par mail
        <a href="mailto:orders@example.com">orders@example.com</a>.
    </p>
</div>
{% endblock %}
